<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#编好需要重复使用的函数" data-toc-modified-id="编好需要重复使用的函数-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>编好需要重复使用的函数</a></span><ul class="toc-item"><li><span><a href="#自动利用拉格朗日补值、就近补值的函数（补出浮点数或整数）" data-toc-modified-id="自动利用拉格朗日补值、就近补值的函数（补出浮点数或整数）-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><font color="red">自动利用拉格朗日补值、就近补值的函数（补出浮点数或整数）</font></a></span></li><li><span><a href="#自动利用拉格朗日补值、就近补值的函数（仅补出整数，符合业务逻辑）" data-toc-modified-id="自动利用拉格朗日补值、就近补值的函数（仅补出整数，符合业务逻辑）-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span><font color="red">自动利用拉格朗日补值、就近补值的函数（仅补出整数，符合业务逻辑）</font></a></span></li><li><span><a href="#判断是否有必要进行补值操作" data-toc-modified-id="判断是否有必要进行补值操作-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span><font color="red">判断是否有必要进行补值操作</font></a></span></li><li><span><a href="#查看离散情况，选择补值方法" data-toc-modified-id="查看离散情况，选择补值方法-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span><font color="red">查看离散情况，选择补值方法</font></a></span></li><li><span><a href="#空值行的所有索引列表" data-toc-modified-id="空值行的所有索引列表-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span><font color="red">空值行的所有索引列表</font></a></span></li><li><span><a href="#就近补值函数" data-toc-modified-id="就近补值函数-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span><font color="red">就近补值函数</font></a></span></li></ul></li><li><span><a href="#对各列进行处理" data-toc-modified-id="对各列进行处理-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>对各列进行处理</a></span><ul class="toc-item"><li><span><a href="#处理num_critic_for_reviews列" data-toc-modified-id="处理num_critic_for_reviews列-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>处理num_critic_for_reviews列</a></span></li><li><span><a href="#处理duration列" data-toc-modified-id="处理duration列-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>处理duration列</a></span></li><li><span><a href="#处理director_facebook_likes列" data-toc-modified-id="处理director_facebook_likes列-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>处理director_facebook_likes列</a></span></li><li><span><a href="#处理actor_3_facebook_likes-列" data-toc-modified-id="处理actor_3_facebook_likes-列-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>处理actor_3_facebook_likes 列</a></span></li><li><span><a href="#处理actor_1_facebook_likes列" data-toc-modified-id="处理actor_1_facebook_likes列-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>处理actor_1_facebook_likes列</a></span></li><li><span><a href="#处理gross列" data-toc-modified-id="处理gross列-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>处理gross列</a></span></li><li><span><a href="#处理facenumber_in_poster-列" data-toc-modified-id="处理facenumber_in_poster-列-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>处理facenumber_in_poster 列</a></span></li><li><span><a href="#处理num_user_for_reviews列" data-toc-modified-id="处理num_user_for_reviews列-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>处理num_user_for_reviews列</a></span></li><li><span><a href="#处理budget列" data-toc-modified-id="处理budget列-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>处理budget列</a></span></li><li><span><a href="#处理actor_2_facebook_likes列" data-toc-modified-id="处理actor_2_facebook_likes列-2.10"><span class="toc-item-num">2.10&nbsp;&nbsp;</span>处理actor_2_facebook_likes列</a></span></li><li><span><a href="#处理aspect_ratio-列" data-toc-modified-id="处理aspect_ratio-列-2.11"><span class="toc-item-num">2.11&nbsp;&nbsp;</span>处理aspect_ratio 列</a></span></li><li><span><a href="#处理color列" data-toc-modified-id="处理color列-2.12"><span class="toc-item-num">2.12&nbsp;&nbsp;</span>处理color列</a></span></li><li><span><a href="#处理director_name列" data-toc-modified-id="处理director_name列-2.13"><span class="toc-item-num">2.13&nbsp;&nbsp;</span>处理director_name列</a></span></li><li><span><a href="#删除空值太多，超过5%的列而无法补值的列" data-toc-modified-id="删除空值太多，超过5%的列而无法补值的列-2.14"><span class="toc-item-num">2.14&nbsp;&nbsp;</span>删除空值太多，超过5%的列而无法补值的列</a></span></li></ul></li><li><span><a href="#数据类型整理" data-toc-modified-id="数据类型整理-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>数据类型整理</a></span></li><li><span><a href="#删除重复行" data-toc-modified-id="删除重复行-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>删除重复行</a></span></li></ul></div>

In [592]:
import pandas as pd
import numpy as np
from scipy.interpolate import lagrange

In [322]:
data = pd.read_csv(r'G:\数据分析\movie_metadata.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

## 编好需要重复使用的函数

### <font color='red'>自动利用拉格朗日补值、就近补值的函数（补出浮点数或整数）</font>

In [327]:
def nan_fill(col_nan,n):
    value_dict = {}
    col = col_nan.copy()
    for i in col.index:
        if (np.isnan(col[i])) and (i-n in col.index) and (i+n in col.index) \
        and col[i-n:i+n+1].isnull().value_counts()[True]==1:
            slice = col[i-n:i+n+1].copy()
            slice1 = slice.dropna()
            func = lagrange(list(slice1.index),slice1.values)
            value_dict[i] = func(i)
        else:
            continue
    col = col.fillna(value_dict) #将拉格朗日补值填充进去
    if col.isnull().value_counts()[False] != col.shape[0]: #不能用True的个数判断，因为可能已经没空值了
        col = col.fillna(method='bfill')
        if col.isnull().value_counts()[False] != col.shape[0]:
            col = col.fillna(method='ffill')
    return col.apply(lambda x:'%.2f' % x) #设定数据格式（这里需要根据实际修改）

### <font color='red'>自动利用拉格朗日补值、就近补值的函数（仅补出整数，符合业务逻辑）</font>

In [330]:
def nan_fill_int(col_name,n):
    value_dict = {}
    col = data[col_name].copy()
    for i in col.index:
        if (np.isnan(col[i])) and (i-n in col.index) and (i+n in col.index) \
        and col[i-n:i+n+1].isnull().value_counts()[True]==1:
            slice = col[i-n:i+n+1].copy()
            slice1 = slice.dropna()
            func = lagrange(list(slice1.index),slice1.values)
            value_dict[i] = round(func(i)) #取整
        else:
            continue
    col = col.fillna(value_dict) #将拉格朗日补值填充进去
    if col.isnull().value_counts()[False] != col.shape[0]: #不能用True的个数判断，因为可能已经没空值了
        col = col.fillna(method='bfill')
        if col.isnull().value_counts()[False] != col.shape[0]:
            col = col.fillna(method='ffill')
    return col.apply(lambda x:'%d' % x)

### <font color='red'>判断是否有必要进行补值操作</font>

    在一列数据中空值的数量超过5%就没有补值的必要了

In [264]:
def can_fill(col_name):
    try:
        nan_rows = data[col_name].isnull().value_counts()[True]
        a = nan_rows/5043
        if a< 0.05:
            return '共有{}个空值，空值占比{:.4f},可以进行补值操作'.format(nan_rows,a)
        else:
            return '空值太多了，没有补的价值，共有{}个空值,空值占比{:.4f}'.format(nan_rows,a)
    except:
        return '这列没有空值'

### <font color='red'>查看离散情况，选择补值方法</font>

In [331]:
def mean_std_cv(col_name):
    mean = data[col_name].mean(skipna=True)
    std = data[col_name].std(skipna=True)
    cv = std/mean
    return '平均值{},标准差{},变异系数{}'.format(mean,std,cv)

    变异系数=标准差/均值
    变异系数最好小于1，变异系数越大，表示变异程度越大
    小于0.1弱变异，0.1到1中等变异，大于1强变异
    变异系数越大，说明标准差比较大，此时不能用平均值补值法，可以用bfill或ffill，lagrange进行补值
    变异系数小，说明标准差比较小，优先使用中位数补值法，其次使用平均数补值

### <font color='red'>空值行的所有索引列表</font>

In [570]:
def lt_nan(col_name):
    lt_nan = data[data[col_name].isnull()].index.tolist()
    return lt_nan

###  <font color='red'>就近补值函数</font>

In [378]:
def nan_fill_bf(col_name):
    col = data[col_name].copy()
    col = col.fillna(method='bfill')
    if col.isnull().value_counts()[False] != col.shape[0]:
        col = col.fillna(method='ffill')
    return col

## 对各列进行处理

###  处理num_critic_for_reviews列

In [348]:
can_fill('num_critic_for_reviews')

'共有50个空值，空值占比0.0099,可以进行补值操作'

In [349]:
mean_std_cv('num_critic_for_reviews')

'平均值140.1942719807731,标准差121.60167539623113,变异系数0.8673797700729753'

In [334]:
# 标准差比较大，数据比较分散，不适合平均数补值，业务逻辑是：评论数只能是整数

In [368]:
res = nan_fill_int('num_critic_for_reviews',2)

    函数的第二个参数需要调节，直到没有异常值或很少有异常值出现，为什么选2，因为2的时候异常值最少，只有4个负值
    其原因是lagrange方法的不稳定性造成的,这也是lagrange方法的最大缺点，并且无法消除。

In [369]:
res[lt_nan('num_critic_for_reviews')] #根据空值行的所有索引查看补完后的值

4       684
279     502
1510    220
2257    239
2342     43
2345     92
2351     24
2370     75
2710     41
2765     57
2870     61
3806     28
3811     45
3816     11
4087     94
4129    311
4227    206
4243    162
4323     24
4354     41
4372     37
4436    129
4444    -61
4459     61
4588     16
4617     49
4622     -3
4634     51
4711     18
4713     22
4716     17
4763    105
4767     17
4787     85
4854     53
4859     59
4865    145
4878      2
4882      8
4924    -44
4929     39
4945     70
4948    116
4989    -12
4996     68
5006     47
5016     31
5020     61
5030     57
5036     41
Name: num_critic_for_reviews, dtype: object

In [373]:
neg_lt = res[res.astype(np.float64)<0].index.tolist() # 发现 4444 4622 4924 4989这几行是负值,把它们挑出来，重新还原成空值
neg_lt

[4444, 4622, 4924, 4989]

In [374]:
res[neg_lt] = np.nan

In [382]:
res = nan_fill_bf('num_critic_for_reviews') #对其使用就近补值

In [383]:
data['num_critic_for_reviews'] =res  #将补完值后的列替换进去

In [384]:
data.info() #再次查看信息，发现这一列有5043个非空值了，补值成功！！！

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       5043 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

### 处理duration列

In [385]:
can_fill('duration')

'共有15个空值，空值占比0.0030,可以进行补值操作'

In [386]:
 mean_std_cv('duration')

'平均值107.2010739856802,标准差25.19744080882403,变异系数0.23504839897583374'

变异系数比较小，说明标准差比较小，优先使用中位数补值/平均数补值

In [387]:
lt_nan('duration')

[4,
 199,
 206,
 1510,
 3604,
 3815,
 3834,
 4299,
 4392,
 4397,
 4517,
 4609,
 4690,
 4948,
 4989]

In [389]:
res = data['duration'].fillna(data['duration'].median())
res[lt_nan('duration')]

4       103.0
199     103.0
206     103.0
1510    103.0
3604    103.0
3815    103.0
3834    103.0
4299    103.0
4392    103.0
4397    103.0
4517    103.0
4609    103.0
4690    103.0
4948    103.0
4989    103.0
Name: duration, dtype: float64

In [391]:
data['duration'] = res

In [392]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       5043 non-null float64
duration                     5043 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

### 处理director_facebook_likes列

In [393]:
can_fill('director_facebook_likes')

'共有104个空值，空值占比0.0206,可以进行补值操作'

In [394]:
 mean_std_cv('director_facebook_likes')

'平均值686.5092123911724,标准差2813.328606865637,变异系数4.09802018106438'

变异系数过大，且稀疏，用bfill或fill，空值太多，不适合拉格朗日

In [397]:
res = nan_fill_bf('director_facebook_likes')

In [398]:
res[lt_nan('director_facebook_likes')]

177     14000.0
260       263.0
404        79.0
459       165.0
479        11.0
537        87.0
543       473.0
593       488.0
645        38.0
685        36.0
757        11.0
816        70.0
826       138.0
833       163.0
857     16000.0
962         5.0
994        31.0
1007      663.0
1023    12000.0
1035      212.0
1133      170.0
1175        0.0
1265       65.0
1346        0.0
1404        0.0
1444       19.0
1499      503.0
1620      309.0
1659       40.0
1664       21.0
         ...
3800      110.0
3807        0.0
3847        0.0
3871      249.0
3881       23.0
3900      450.0
3951       19.0
3982      154.0
3989       10.0
4015        0.0
4079      393.0
4087      375.0
4113       21.0
4115       40.0
4119        7.0
4249    11000.0
4281        0.0
4288       90.0
4304       32.0
4327        0.0
4460      346.0
4467      135.0
4482        0.0
4517      155.0
4634       12.0
4798       20.0
4803       12.0
4819        0.0
4869        5.0
5039        0.0
Name: director_facebook_likes, Length: 104, dtype: float64

In [399]:
data['director_facebook_likes'] =res

In [400]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       5043 non-null float64
duration                     5043 non-null float64
director_facebook_likes      5043 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

### 处理actor_3_facebook_likes 列

In [424]:
can_fill('actor_3_facebook_likes')

'共有23个空值，空值占比0.0046,可以进行补值操作'

In [425]:
 mean_std_cv('actor_3_facebook_likes')

'平均值645.0097609561753,标准差1665.0417284458572,变异系数2.581420978773354'

In [426]:
res = nan_fill_int('actor_3_facebook_likes',2)

In [427]:
res[lt_nan('actor_3_facebook_likes')]

4       14993
279      2062
1782      482
2143      400
2241      675
3346      195
3528     -275
3610       81
4225      192
4460      224
4502      568
4519       62
4548       89
4720      578
4815       54
4836       87
4837       87
4945        9
4946        9
4948      405
4990        5
4992      236
5009      135
Name: actor_3_facebook_likes, dtype: object

In [428]:
neg_lt = res[res.astype(np.float64)<0].index.tolist() # 判断小于0的行，将其挑出来，重新还原成空值
neg_lt

[3528]

In [430]:
res[3528] = np.nan

In [431]:
res[lt_nan('actor_3_facebook_likes')]

4       14993
279      2062
1782      482
2143      400
2241      675
3346      195
3528      NaN
3610       81
4225      192
4460      224
4502      568
4519       62
4548       89
4720      578
4815       54
4836       87
4837       87
4945        9
4946        9
4948      405
4990        5
4992      236
5009      135
Name: actor_3_facebook_likes, dtype: object

In [432]:
data['actor_3_facebook_likes'] = res #把lagrange补完的先赋给data

In [433]:
res = nan_fill_bf('actor_3_facebook_likes') #再对唯一的空值补值

In [436]:
data['actor_3_facebook_likes'] = res

In [437]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       5043 non-null float64
duration                     5043 non-null float64
director_facebook_likes      5043 non-null float64
actor_3_facebook_likes       5043 non-null object
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(12), int64(3), object(13)
memory usage: 1.1+ MB

### 处理actor_1_facebook_likes列

In [438]:
can_fill('actor_1_facebook_likes')

'共有7个空值，空值占比0.0014,可以进行补值操作'

In [439]:
mean_std_cv('actor_1_facebook_likes')

'平均值6560.04706115965,标准差15020.759119983974,变异系数2.2897334394013757'

In [224]:
lt_nan = data[data['actor_1_facebook_likes'].isnull()].index.tolist()

变异系数大，用bfill\ffill\lagrange

In [441]:
res = nan_fill_int('actor_1_facebook_likes',2)
res[lt_nan('actor_1_facebook_likes')]

4502    32673
4519      154
4720     1759
4837      217
4945      830
4946      830
4990      556
Name: actor_1_facebook_likes, dtype: object

In [442]:
data['actor_1_facebook_likes'] = res

In [443]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       5043 non-null float64
duration                     5043 non-null float64
director_facebook_likes      5043 non-null float64
actor_3_facebook_likes       5043 non-null object
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5043 non-null object
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(11), int64(3), object(14)
memory usage: 1.1+ MB

### 处理gross列

In [444]:
can_fill('gross')

'空值太多了，没有补的价值，共有884个空值,空值占比0.1753'

In [445]:
mean_std_cv('gross')

'平均值48468407.52680933,标准差68452990.43875286,变异系数1.4123218387336012'

### 处理facenumber_in_poster 列

In [446]:
can_fill('facenumber_in_poster')

'共有13个空值，空值占比0.0026,可以进行补值操作'

In [266]:
data['facenumber_in_poster'].describe() #查看一下这一列的情况

count    5030.000000
mean        1.371173
std         2.013576
min         0.000000
25%         0.000000
50%         1.000000
75%         2.000000
max        43.000000
Name: facenumber_in_poster, dtype: float64

In [447]:
data['facenumber_in_poster'].value_counts() #海报中的人脸数量，可能是离散变量，不能补值，这里当做连续变量看

0.0     2152
1.0     1251
2.0      716
3.0      380
4.0      207
5.0      114
6.0       76
7.0       48
8.0       37
9.0       18
10.0      10
15.0       6
11.0       5
12.0       4
13.0       2
19.0       1
14.0       1
31.0       1
43.0       1
Name: facenumber_in_poster, dtype: int64

In [274]:
 mean_std_cv('facenumber_in_poster') #数据比较离散，标准差比较大，用bfill-lagrange

'平均值1.3711729622266402,标准差2.0135759199960632,变异系数1.468506144349746'

In [450]:
res = nan_fill_int('facenumber_in_poster',3)
res[lt_nan('facenumber_in_poster')] #一共13个空值，给补出了5个负值

99         1
248        2
1948      -4
3016      29
3373      25
3797     -80
3853      80
4307    -360
4444     144
4448     -88
4453      56
4692      40
5031     -64
Name: facenumber_in_poster, dtype: object

In [453]:
neg_lt = res[res.astype(np.float64)<0].index.tolist() #值为负的索引
res[neg_lt] = np.nan

In [455]:
data['facenumber_in_poster'] = res
res[lt_nan('facenumber_in_poster')]

1948    NaN
3797    NaN
4307    NaN
4448    NaN
5031    NaN
Name: facenumber_in_poster, dtype: object

In [458]:
res = nan_fill_bf('facenumber_in_poster')
res[lt_nan('facenumber_in_poster')]

1948    1
3797    0
4307    7
4448    1
5031    1
Name: facenumber_in_poster, dtype: object

In [459]:
data['facenumber_in_poster'] = res
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       5043 non-null float64
duration                     5043 non-null float64
director_facebook_likes      5043 non-null float64
actor_3_facebook_likes       5043 non-null object
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5043 non-null object
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5043 non-null object
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(10), int64(3), object(15)
memory usage: 1.1+ MB

### 处理num_user_for_reviews列

In [460]:
can_fill('num_user_for_reviews')

'共有21个空值，空值占比0.0042,可以进行补值操作'

In [461]:
mean_std_cv('num_user_for_reviews')

'平均值272.77080844285143,标准差377.9828855657681,变异系数1.3857160438960967'

In [466]:
res = nan_fill_int('num_user_for_reviews',2)
res[lt_nan('num_user_for_reviews')]

4       1810
279     1231
1510     383
2342      55
2345      35
2370      87
2765     185
2870     118
3816     -24
4323     102
4372      71
4436      88
4617      36
4713      11
4767     -76
4854      59
4859     464
4878     -17
4929      41
4945      40
4948      63
Name: num_user_for_reviews, dtype: object

In [467]:
neg_lt = res[res.astype(np.float64)<0].index.tolist()
res[neg_lt] = np.nan

In [468]:
res[lt_nan('num_user_for_reviews')]

4       1810
279     1231
1510     383
2342      55
2345      35
2370      87
2765     185
2870     118
3816     NaN
4323     102
4372      71
4436      88
4617      36
4713      11
4767     NaN
4854      59
4859     464
4878     NaN
4929      41
4945      40
4948      63
Name: num_user_for_reviews, dtype: object

In [470]:
res = res.fillna(method='bfill')
res[lt_nan('num_user_for_reviews')]

4       1810
279     1231
1510     383
2342      55
2345      35
2370      87
2765     185
2870     118
3816       4
4323     102
4372      71
4436      88
4617      36
4713      11
4767      16
4854      59
4859     464
4878      18
4929      41
4945      40
4948      63
Name: num_user_for_reviews, dtype: object

In [487]:
(data['num_user_for_reviews'].astype(np.float64)>=0).all() #确实全部大于0

True

In [472]:
data['num_user_for_reviews'] =res
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       5043 non-null float64
duration                     5043 non-null float64
director_facebook_likes      5043 non-null float64
actor_3_facebook_likes       5043 non-null object
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5043 non-null object
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5043 non-null object
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5043 non-null object
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(9), int64(3), object(16)
memory usage: 1.1+ MB

### 处理budget列

In [473]:
can_fill('budget')

'空值太多了，没有补的价值，共有492个空值,空值占比0.0976'

### 处理actor_2_facebook_likes列

In [474]:
can_fill('actor_2_facebook_likes')

'共有13个空值，空值占比0.0026,可以进行补值操作'

In [475]:
mean_std_cv('actor_2_facebook_likes')

'平均值1651.7544731610337,标准差4042.4388626418645,变异系数2.4473606267314505'

In [479]:
res = nan_fill_int('actor_2_facebook_likes',2)
res[lt_nan('actor_2_facebook_likes')] #补完后出现一个负值

279     8333
2143     420
2241     753
3346     206
4502     590
4519     202
4720     697
4815     225
4837      -3
4945     128
4946     128
4990       9
4992     680
Name: actor_2_facebook_likes, dtype: object

In [480]:
res[4837] = np.nan

In [481]:
res = res.fillna(method='bfill')

In [482]:
res[lt_nan('actor_2_facebook_likes')]

279     8333
2143     420
2241     753
3346     206
4502     590
4519     202
4720     697
4815     225
4837      99
4945     128
4946     128
4990       9
4992     680
Name: actor_2_facebook_likes, dtype: object

In [483]:
data['actor_2_facebook_likes'] = res
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       5043 non-null float64
duration                     5043 non-null float64
director_facebook_likes      5043 non-null float64
actor_3_facebook_likes       5043 non-null object
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5043 non-null object
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5043 non-null object
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5043 non-null object
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5043 non-null object
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(8), int64(3), object(17)
memory usage: 1.1+ MB

### 处理aspect_ratio 列

In [484]:
can_fill('aspect_ratio')

'空值太多了，没有补的价值，共有329个空值,空值占比0.0652'

In [485]:
# 空值占比6.52%，超过5%了

---------------------以上，连续性数据空值处理完毕---------------------

-------------------以下，处理离散数据----------------------

### 处理color列

In [488]:
can_fill('color')

'共有19个空值，空值占比0.0038,可以进行补值操作'

In [491]:
data['color'].value_counts()

Color               4815
 Black and White     209
Name: color, dtype: int64

颜色是离散数据，不能补值，应该删除这些行，但是可以根据常识推断

In [497]:
data[data['color'].isnull()][['color','title_year']]
#2000年以后应该不是黑白电影，所以这些行应该补为color
#有的连年份都没有，所以删除这些行

     color  title_year
4      NaN         NaN
279    NaN         NaN
459    NaN         NaN
1948   NaN      2010.0
2015   NaN      2014.0
2459   NaN         NaN
2753   NaN      2009.0
3272   NaN      2015.0
3539   NaN      2014.0
3638   NaN      2011.0
3656   NaN      2012.0
4138   NaN      2014.0
4215   NaN      2015.0
4331   NaN      2012.0
4409   NaN      2016.0
4441   NaN      2013.0
4630   NaN      2014.0
4846   NaN      1990.0
5020   NaN      2011.0

In [498]:
data = data.drop([4,279,459,2459],axis=0)

In [499]:
data[data['color'].isnull()][['color','title_year']] #查看情况

     color  title_year
1948   NaN      2010.0
2015   NaN      2014.0
2753   NaN      2009.0
3272   NaN      2015.0
3539   NaN      2014.0
3638   NaN      2011.0
3656   NaN      2012.0
4138   NaN      2014.0
4215   NaN      2015.0
4331   NaN      2012.0
4409   NaN      2016.0
4441   NaN      2013.0
4630   NaN      2014.0
4846   NaN      1990.0
5020   NaN      2011.0

In [527]:
col_color = data['color']
col_color_nan = col_color[col_color.isnull()]
col_color_nan

1948    NaN
2015    NaN
2753    NaN
3272    NaN
3539    NaN
3638    NaN
3656    NaN
4138    NaN
4215    NaN
4331    NaN
4409    NaN
4441    NaN
4630    NaN
4846    NaN
5020    NaN
Name: color, dtype: object

In [528]:
col_color_nan[data['title_year']>=2000.0] = 'Color'

In [529]:
col_color_nan[data['title_year']<2000.0] = 'Black and White'

In [533]:
col_color_nan

1948              Color
2015              Color
2753              Color
3272              Color
3539              Color
3638              Color
3656              Color
4138              Color
4215              Color
4331              Color
4409              Color
4441              Color
4630              Color
4846    Black and White
5020              Color
Name: color, dtype: object

In [535]:
col_color[col_color.isnull()] = col_color_nan

F:\soft\annaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [538]:
col_color.isnull().any() #这一列不存在空值了，说明补好了

False

In [540]:
data['color'] =  col_color #因为删了4行，所以剩余5039行

In [541]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5039 entries, 0 to 5042
Data columns (total 28 columns):
color                        5039 non-null object
director_name                4937 non-null object
num_critic_for_reviews       5039 non-null float64
duration                     5039 non-null float64
director_facebook_likes      5039 non-null float64
actor_3_facebook_likes       5039 non-null object
actor_2_name                 5027 non-null object
actor_1_facebook_likes       5039 non-null object
gross                        4159 non-null float64
genres                       5039 non-null object
actor_1_name                 5032 non-null object
movie_title                  5039 non-null object
num_voted_users              5039 non-null int64
cast_total_facebook_likes    5039 non-null int64
actor_3_name                 5018 non-null object
facenumber_in_poster         5039 non-null object
plot_keywords                4888 non-null object
movie_imdb_link              5039 non-null object
num_user_for_reviews         5039 non-null object
language                     5030 non-null object
country                      5036 non-null object
content_rating               4739 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5039 non-null object
imdb_score                   5039 non-null float64
aspect_ratio                 4713 non-null float64
movie_facebook_likes         5039 non-null int64
dtypes: float64(8), int64(3), object(17)
memory usage: 1.3+ MB

### 处理director_name列

In [544]:
can_fill('director_name')

'共有102个空值，空值占比0.0202,可以进行补值操作'

In [546]:
#删除这些行
lt_nan = lt_nan('director_name') #空值行的索引

In [547]:
data = data.drop(lt_nan,axis=0)

In [548]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4937 entries, 0 to 5042
Data columns (total 28 columns):
color                        4937 non-null object
director_name                4937 non-null object
num_critic_for_reviews       4937 non-null float64
duration                     4937 non-null float64
director_facebook_likes      4937 non-null float64
actor_3_facebook_likes       4937 non-null object
actor_2_name                 4927 non-null object
actor_1_facebook_likes       4937 non-null object
gross                        4156 non-null float64
genres                       4937 non-null object
actor_1_name                 4930 non-null object
movie_title                  4937 non-null object
num_voted_users              4937 non-null int64
cast_total_facebook_likes    4937 non-null int64
actor_3_name                 4919 non-null object
facenumber_in_poster         4937 non-null object
plot_keywords                4795 non-null object
movie_imdb_link              4937 non-null object
num_user_for_reviews         4937 non-null object
language                     4928 non-null object
country                      4936 non-null object
content_rating               4674 non-null object
budget                       4543 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       4937 non-null object
imdb_score                   4937 non-null float64
aspect_ratio                 4629 non-null float64
movie_facebook_likes         4937 non-null int64
dtypes: float64(8), int64(3), object(17)
memory usage: 1.1+ MB

In [549]:
5039-102

4937

对于剩余特征，我们可以查找相关信息补全，或者直接逐一删除空值所处行,这里选择第二种方案

In [567]:
discrete_lt = ['actor_2_name','actor_1_name','actor_3_name','plot_keywords','language','country','content_rating','title_year']

In [572]:
lt_del = []
for i in discrete_lt:
    lt_del.extend(lt_nan(i))

In [573]:
lt_del = list(set(lt_del))

In [574]:
data = data.drop(lt_del,axis=0)

In [575]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4590 entries, 0 to 5042
Data columns (total 28 columns):
color                        4590 non-null object
director_name                4590 non-null object
num_critic_for_reviews       4590 non-null float64
duration                     4590 non-null float64
director_facebook_likes      4590 non-null float64
actor_3_facebook_likes       4590 non-null object
actor_2_name                 4590 non-null object
actor_1_facebook_likes       4590 non-null object
gross                        4055 non-null float64
genres                       4590 non-null object
actor_1_name                 4590 non-null object
movie_title                  4590 non-null object
num_voted_users              4590 non-null int64
cast_total_facebook_likes    4590 non-null int64
actor_3_name                 4590 non-null object
facenumber_in_poster         4590 non-null object
plot_keywords                4590 non-null object
movie_imdb_link              4590 non-null object
num_user_for_reviews         4590 non-null object
language                     4590 non-null object
country                      4590 non-null object
content_rating               4590 non-null object
budget                       4272 non-null float64
title_year                   4590 non-null float64
actor_2_facebook_likes       4590 non-null object
imdb_score                   4590 non-null float64
aspect_ratio                 4430 non-null float64
movie_facebook_likes         4590 non-null int64
dtypes: float64(8), int64(3), object(17)
memory usage: 1.0+ MB

### 删除空值太多，超过5%的列而无法补值的列

In [576]:
data = data.drop(['gross','budget','aspect_ratio'],axis=1)

In [577]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4590 entries, 0 to 5042
Data columns (total 25 columns):
color                        4590 non-null object
director_name                4590 non-null object
num_critic_for_reviews       4590 non-null float64
duration                     4590 non-null float64
director_facebook_likes      4590 non-null float64
actor_3_facebook_likes       4590 non-null object
actor_2_name                 4590 non-null object
actor_1_facebook_likes       4590 non-null object
genres                       4590 non-null object
actor_1_name                 4590 non-null object
movie_title                  4590 non-null object
num_voted_users              4590 non-null int64
cast_total_facebook_likes    4590 non-null int64
actor_3_name                 4590 non-null object
facenumber_in_poster         4590 non-null object
plot_keywords                4590 non-null object
movie_imdb_link              4590 non-null object
num_user_for_reviews         4590 non-null object
language                     4590 non-null object
country                      4590 non-null object
content_rating               4590 non-null object
title_year                   4590 non-null float64
actor_2_facebook_likes       4590 non-null object
imdb_score                   4590 non-null float64
movie_facebook_likes         4590 non-null int64
dtypes: float64(5), int64(3), object(17)
memory usage: 932.3+ KB

## 数据类型整理

In [579]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'genres', 'actor_1_name', 'movie_title',
       'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'movie_facebook_likes'],
      dtype='object')

In [580]:
data[['num_critic_for_reviews','duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_1_facebook_likes',\
     'facenumber_in_poster','num_user_for_reviews','actor_2_facebook_likes',]] = data[['num_critic_for_reviews','duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_1_facebook_likes',\
     'facenumber_in_poster','num_user_for_reviews','actor_2_facebook_likes',]].astype(np.int64)

In [581]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4590 entries, 0 to 5042
Data columns (total 25 columns):
color                        4590 non-null object
director_name                4590 non-null object
num_critic_for_reviews       4590 non-null int64
duration                     4590 non-null int64
director_facebook_likes      4590 non-null int64
actor_3_facebook_likes       4590 non-null int64
actor_2_name                 4590 non-null object
actor_1_facebook_likes       4590 non-null int64
genres                       4590 non-null object
actor_1_name                 4590 non-null object
movie_title                  4590 non-null object
num_voted_users              4590 non-null int64
cast_total_facebook_likes    4590 non-null int64
actor_3_name                 4590 non-null object
facenumber_in_poster         4590 non-null int64
plot_keywords                4590 non-null object
movie_imdb_link              4590 non-null object
num_user_for_reviews         4590 non-null int64
language                     4590 non-null object
country                      4590 non-null object
content_rating               4590 non-null object
title_year                   4590 non-null float64
actor_2_facebook_likes       4590 non-null int64
imdb_score                   4590 non-null float64
movie_facebook_likes         4590 non-null int64
dtypes: float64(2), int64(11), object(12)
memory usage: 932.3+ KB

In [605]:
data['title_year']= data['title_year'].astype(np.object).astype(np.datetime64)

In [606]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4590 entries, 0 to 5042
Data columns (total 25 columns):
color                        4590 non-null object
director_name                4590 non-null object
num_critic_for_reviews       4590 non-null int64
duration                     4590 non-null int64
director_facebook_likes      4590 non-null int64
actor_3_facebook_likes       4590 non-null int64
actor_2_name                 4590 non-null object
actor_1_facebook_likes       4590 non-null int64
genres                       4590 non-null object
actor_1_name                 4590 non-null object
movie_title                  4590 non-null object
num_voted_users              4590 non-null int64
cast_total_facebook_likes    4590 non-null int64
actor_3_name                 4590 non-null object
facenumber_in_poster         4590 non-null int64
plot_keywords                4590 non-null object
movie_imdb_link              4590 non-null object
num_user_for_reviews         4590 non-null int64
language                     4590 non-null object
country                      4590 non-null object
content_rating               4590 non-null object
title_year                   4590 non-null datetime64[ns]
actor_2_facebook_likes       4590 non-null int64
imdb_score                   4590 non-null float64
movie_facebook_likes         4590 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(11), object(12)
memory usage: 932.3+ KB

## 删除重复行

In [609]:
data[data.duplicated()==True]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,genres,actor_1_name,...,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,title_year,actor_2_facebook_likes,imdb_score,movie_facebook_likes
137,Color,David Yates,248,110,282,103,Alexander Skarsgård,11000,Action|Adventure|Drama|Romance,Christoph Waltz,...,africa|capture|jungle|male objectification|tarzan,http://www.imdb.com/title/tt0918940/?ref_=fn_t...,239,English,USA,PG-13,1970-01-01 00:00:00.000002016,10000,6.6,29000
187,Color,Bill Condon,322,115,386,12000,Kristen Stewart,21000,Adventure|Drama|Fantasy|Romance,Robert Pattinson,...,battle|friend|super strength|vampire|vision,http://www.imdb.com/title/tt1673434/?ref_=fn_t...,329,English,USA,PG-13,1970-01-01 00:00:00.000002012,17000,5.5,65000
303,Color,Joe Wright,256,111,456,394,Cara Delevingne,20000,Adventure|Family|Fantasy,Hugh Jackman,...,1940s|child hero|fantasy world|orphan|referenc...,http://www.imdb.com/title/tt3332064/?ref_=fn_t...,186,English,USA,PG,1970-01-01 00:00:00.000002015,548,5.8,24000
389,Color,Josh Trank,369,100,128,78,Reg E. Cathey,596,Action|Adventure|Sci-Fi,Tim Blake Nelson,...,box office flop|critically bashed|portal|telep...,http://www.imdb.com/title/tt1502712/?ref_=fn_t...,695,English,USA,PG-13,1970-01-01 00:00:00.000002015,360,4.3,41000
395,Color,Rob Cohen,187,106,357,4000,Vin Diesel,23000,Action|Crime|Thriller,Paul Walker,...,eighteen wheeler|illegal street racing|truck|t...,http://www.imdb.com/title/tt0232500/?ref_=fn_t...,988,English,USA,PG-13,1970-01-01 00:00:00.000002001,14000,6.7,14000
590,Color,Brett Ratner,245,101,420,467,Rufus Sewell,12000,Action|Adventure,Dwayne Johnson,...,army|greek mythology|hercules|king|mercenary,http://www.imdb.com/title/tt1267297/?ref_=fn_t...,269,English,USA,PG-13,1970-01-01 00:00:00.000002014,3000,6.0,21000
656,Color,Paul Verhoeven,196,113,719,217,Rachel Ticotin,605,Action|Sci-Fi,Ronny Cox,...,ambiguous ending|false memory|implanted memory...,http://www.imdb.com/title/tt0100802/?ref_=fn_t...,391,English,USA,R,1970-01-01 00:00:00.000001990,308,7.5,0
794,Color,Joss Whedon,703,173,0,19000,Robert Downey Jr.,26000,Action|Adventure|Sci-Fi,Chris Hemsworth,...,alien invasion|assassin|battle|iron man|soldier,http://www.imdb.com/title/tt0848228/?ref_=fn_t...,1722,English,USA,PG-13,1970-01-01 00:00:00.000002012,21000,8.1,123000
1220,Color,Angelina Jolie Pitt,322,137,11000,465,Jack O'Connell,769,Biography|Drama|Sport|War,Finn Wittrock,...,emaciation|male nudity|plane crash|prisoner of...,http://www.imdb.com/title/tt1809398/?ref_=fn_t...,351,English,USA,PG-13,1970-01-01 00:00:00.000002014,698,7.2,35000
1305,Color,Paul McGuigan,159,110,118,287,Spencer Wilding,11000,Drama|Horror|Sci-Fi|Thriller,Daniel Radcliffe,...,assistant|experiment|frankenstein|medical stud...,http://www.imdb.com/title/tt1976009/?ref_=fn_t...,91,English,USA,PG-13,1970-01-01 00:00:00.000002015,1000,6.0,11000
1449,Color,Albert Hughes,208,122,117,140,Jason Flemyng,40000,Horror|Mystery|Thriller,Johnny Depp,...,freemason|jack the ripper|opium|prostitute|vic...,http://www.imdb.com/title/tt0120681/?ref_=fn_t...,541,English,USA,R,1970-01-01 00:00:00.000002001,1000,6.8,0
2169,Color,Paul McGuigan,98,114,118,40,Christopher Cousins,489,Drama|Mystery|Romance|Thriller,Jessica Paré,...,flashback|flashback within a flashback|multipl...,http://www.imdb.com/title/tt0324554/?ref_=fn_t...,298,English,USA,PG-13,1970-01-01 00:00:00.000002004,93,7.0,0
2292,Color,Frank Oz,168,87,0,548,Ewen Bremner,22000,Comedy,Peter Dinklage,...,end credits roll call|four word title|funeral|...,http://www.imdb.com/title/tt0795368/?ref_=fn_t...,199,English,USA,R,1970-01-01 00:00:00.000002007,557,7.4,0
2493,Black and White,Yimou Zhang,283,80,611,576,Tony Chiu Wai Leung,5000,Action|Adventure|History,Jet Li,...,china|flying|king|palace|sword,http://www.imdb.com/title/tt0299977/?ref_=fn_t...,841,Mandarin,China,PG-13,1970-01-01 00:00:00.000002002,643,7.9,0
2533,Color,Neil Burger,236,110,168,96,Eddie Marsan,3000,Drama|Mystery|Romance|Thriller,Rufus Sewell,...,duchess|illusionist|magician|prince|supernatur...,http://www.imdb.com/title/tt0443543/?ref_=fn_t...,645,English,USA,PG-13,1970-01-01 00:00:00.000002006,979,7.6,15000
2562,Color,Jon Lucas,81,100,24,851,Jay Hernandez,15000,Comedy,Mila Kunis,...,lesbian kiss|mom|pta|reference to mad max|scen...,http://www.imdb.com/title/tt4651520/?ref_=fn_t...,46,English,USA,R,1970-01-01 00:00:00.000002016,1000,6.7,18000
2568,Color,Vic Armstrong,169,110,179,734,Lea Thompson,12000,Action|Drama|Fantasy|Mystery|Thriller,Nicolas Cage,...,bible quote|chaos|faith|riot|shrine,http://www.imdb.com/title/tt2467046/?ref_=fn_t...,374,English,USA,PG-13,1970-01-01 00:00:00.000002014,1000,3.1,31000
2619,Color,John Carpenter,318,101,0,598,Donald Pleasence,2000,Horror|Thriller,Jamie Lee Curtis,...,halloween|masked killer|michael myers|slasher|...,http://www.imdb.com/title/tt0077651/?ref_=fn_t...,1191,English,USA,R,1970-01-01 00:00:00.000001978,742,7.9,12000
2771,Color,Ole Bornedal,264,92,30,309,Madison Davenport,941,Horror|Thriller,Kyra Sedgwick,...,basketball coach|box|jewish|rabbi|yard sale,http://www.imdb.com/title/tt0431021/?ref_=fn_t...,162,English,USA,PG-13,1970-01-01 00:00:00.000002012,459,5.9,17000
2777,Color,Stephen Frears,51,119,350,418,Peter Capaldi,18000,Drama|Romance,Keanu Reeves,...,catholic|corruption|emotional abuse|france|sed...,http://www.imdb.com/title/tt0094947/?ref_=fn_t...,143,English,USA,R,1970-01-01 00:00:00.000001988,17000,7.7,0
2798,Color,Shawn Levy,69,88,189,799,Donald Faison,934,Adventure|Comedy|Family,Frankie Muniz,...,brunette|film producer|liar|prank|stunt,http://www.imdb.com/title/tt0265298/?ref_=fn_t...,99,English,USA,PG,1970-01-01 00:00:00.000002002,927,5.4,896
2971,Color,John Lee Hancock,106,137,102,877,Marc Blucas,2000,Drama|History|War|Western,Dennis Quaid,...,army|dictator|general|texan|texas,http://www.imdb.com/title/tt0318974/?ref_=fn_t...,267,English,USA,PG-13,1970-01-01 00:00:00.000002004,973,6.0,701
3117,Color,Guy Ritchie,151,104,0,1000,Brad Pitt,26000,Comedy|Crime,Jason Statham,...,boxer|boxing|diamond|fight|gypsy,http://www.imdb.com/title/tt0208092/?ref_=fn_t...,726,English,UK,R,1970-01-01 00:00:00.000002000,11000,8.3,27000
3345,Color,Herbert Ross,60,107,71,304,Chris Penn,967,Drama|Music|Romance,Dianne Wiest,...,church|cowboy boots|dancing|high school dance|...,http://www.imdb.com/title/tt0087277/?ref_=fn_t...,113,English,USA,PG,1970-01-01 00:00:00.000001984,455,6.5,0
3452,Color,Paul Haggis,287,115,549,911,Loretta Devine,3000,Crime|Drama|Thriller,Don Cheadle,...,race relations|racism|racist|social problem|st...,http://www.imdb.com/title/tt0375679/?ref_=fn_t...,1624,English,Germany,R,1970-01-01 00:00:00.000002004,912,7.9,18000
3480,Color,Michael Winterbottom,71,115,187,887,Sarah Polley,14000,Drama|Romance|Western,Milla Jovovich,...,gold|gold mine|miner|railroad|surveyor,http://www.imdb.com/title/tt0218378/?ref_=fn_t...,92,English,UK,R,1970-01-01 00:00:00.000002000,900,6.5,141
3729,Color,Tim Blake Nelson,92,95,596,697,Andrew Keegan,1000,Drama|Romance|Thriller,Mekhi Phifer,...,basketball|basketball player|boarding school|l...,http://www.imdb.com/title/tt0184791/?ref_=fn_t...,153,English,USA,R,1970-01-01 00:00:00.000002001,835,6.2,0
3915,Color,Wes Craven,160,107,0,255,Emily Meade,798,Horror|Mystery|Thriller,Frank Grillo,...,evil|killer|murder|psychopath|serial killer,http://www.imdb.com/title/tt0872230/?ref_=fn_t...,136,English,USA,R,1970-01-01 00:00:00.000002010,374,4.8,0
4182,Color,Rob Zombie,220,119,0,593,Tyler Mane,908,Horror,Scout Taylor-Compton,...,halloween|hospital|michael myers|rampage|vomiting,http://www.imdb.com/title/tt1311067/?ref_=fn_t...,491,English,USA,R,1970-01-01 00:00:00.000002009,764,4.9,3000
4226,Color,William Friedkin,138,104,607,109,Fernando Rey,813,Action|Crime|Drama|Thriller,Roy Scheider,...,crime boss|drug smuggling|heroin|mafia boss|or...,http://www.imdb.com/title/tt0067116/?ref_=fn_t...,280,English,USA,R,1970-01-01 00:00:00.000001971,165,7.8,0
4282,Color,Kenneth Branagh,85,150,0,401,Brian Blessed,597,Drama,Julie Christie,...,classic literature|denmark|funeral|madness|prince,http://www.imdb.com/title/tt0116477/?ref_=fn_t...,224,English,UK,PG-13,1970-01-01 00:00:00.000001996,591,7.8,0
4313,Color,Bruce McCulloch,52,85,54,455,Megan Mullally,985,Comedy|Crime,Martin Starr,...,black humor|crying during sex|harvard|humor|ma...,http://www.imdb.com/title/tt0265808/?ref_=fn_t...,92,English,USA,PG-13,1970-01-01 00:00:00.000002002,637,5.1,215
4408,Color,Yimou Zhang,101,95,611,3,Ni Yan,9,Comedy|Drama,Honglei Sun,...,betrayal|husband wife relationship|murder|nood...,http://www.imdb.com/title/tt1428556/?ref_=fn_t...,20,Mandarin,China,R,1970-01-01 00:00:00.000002009,4,5.7,784
4565,Color,Peter Cattaneo,122,91,11,121,Mark Addy,1000,Comedy|Drama|Music,Tom Wilkinson,...,dole|male stripper|northern england|steel work...,http://www.imdb.com/title/tt0119164/?ref_=fn_t...,174,English,UK,R,1970-01-01 00:00:00.000001997,891,7.2,0
4573,Color,Mel Brooks,48,92,0,842,Sid Caesar,1000,Comedy,Madeline Kahn,...,french revolution|old testament|part of an unf...,http://www.imdb.com/title/tt0082517/?ref_=fn_t...,131,English,USA,R,1970-01-01 00:00:00.000001981,898,6.9,0
4631,Color,Danny Boyle,393,101,0,888,Spencer Wilding,3000,Crime|Drama|Mystery|Thriller,Rosario Dawson,...,amnesia|criminal|heist|hypnotherapy|lost painting,http://www.imdb.com/title/tt1924429/?ref_=fn_t...,212,English,UK,R,1970-01-01 00:00:00.000002013,1000,7.0,23000
4769,Color,Tamra Davis,111,93,33,135,Katherine Boecher,1000,Comedy|Drama,Britney Spears,...,audition|friendship|graduation|high school gra...,http://www.imdb.com/title/tt0275022/?ref_=fn_t...,578,English,USA,PG-13,1970-01-01 00:00:00.000002002,188,3.3,0
4927,Color,Jason Stone,48,108,14,826,Ellen Burstyn,2000,Thriller,Topher Grace,...,bouquet|house fire|praying|serial killer|tied ...,http://www.imdb.com/title/tt1666335/?ref_=fn_t...,28,English,USA,R,1970-01-01 00:00:00.000002014,1000,5.8,0
4942,Color,Paul Schrader,130,93,261,697,Ruby Dee,783,Fantasy|Horror|Thriller,Ed Begley Jr.,...,cat|cat people|leopard|love|slip the undergarment,http://www.imdb.com/title/tt0083722/?ref_=fn_t...,106,English,USA,R,1970-01-01 00:00:00.000001982,782,6.1,0
4951,Black and White,George A. Romero,284,96,0,56,Duane Jones,125,Drama|Horror|Mystery,Judith O'Dea,...,cemetery|farmhouse|radiation|running out of ga...,http://www.imdb.com/title/tt0063350/?ref_=fn_t...,580,English,USA,Unrated,1970-01-01 00:00:00.000001968,108,8.0,0

In [611]:
data.drop_duplicates(inplace=True)

In [612]:
data.info() #4590-4550=40，有40行重复数据

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4550 entries, 0 to 5042
Data columns (total 25 columns):
color                        4550 non-null object
director_name                4550 non-null object
num_critic_for_reviews       4550 non-null int64
duration                     4550 non-null int64
director_facebook_likes      4550 non-null int64
actor_3_facebook_likes       4550 non-null int64
actor_2_name                 4550 non-null object
actor_1_facebook_likes       4550 non-null int64
genres                       4550 non-null object
actor_1_name                 4550 non-null object
movie_title                  4550 non-null object
num_voted_users              4550 non-null int64
cast_total_facebook_likes    4550 non-null int64
actor_3_name                 4550 non-null object
facenumber_in_poster         4550 non-null int64
plot_keywords                4550 non-null object
movie_imdb_link              4550 non-null object
num_user_for_reviews         4550 non-null int64
language                     4550 non-null object
country                      4550 non-null object
content_rating               4550 non-null object
title_year                   4550 non-null datetime64[ns]
actor_2_facebook_likes       4550 non-null int64
imdb_score                   4550 non-null float64
movie_facebook_likes         4550 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(11), object(12)
memory usage: 924.2+ KB

数据清洗整理完毕